<div class="backdrop"></div>
<section class="content">
  <div class="empty"></div>
  <div class="empty"></div>
  <div class="content">
    <h1>lemossuk.com</h1>
    <p>Professzionális magasnyomású mosási szolgáltatásunkkal napelemeket, térköveket, tetőket és más felületeket tisztítunk. Célunk, hogy tulajdonát ragyogóvá varázsoljuk, Önnek pedig időt és energiát takarítsunk meg. Fedezze fel szolgáltatásainkat még ma!</p>
    <a href="tel:+36704669305">
      <button mat-flat-button color="primary" aria-label="Hívj fel most!">
        <mat-icon>call</mat-icon>
        Hívjon most
      </button>
    </a>
  </div>
</section>
