$constructionIconSize: 200px;

section {
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 101;
  background: url('../../../assets/images/cleaning_in_progress.jpg') no-repeat center center fixed;
  background-size: cover;

  .empty,
  .content {
    flex: 1;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px;
  }

  p {
    line-height: 2;
    min-width: 260px;
    text-align: center;
  }

  mat-icon[fontIcon="construction"] {
    font-size: $constructionIconSize;
    width: $constructionIconSize;
    height: $constructionIconSize;
  }
}

@media (max-width: 768px) {
  .empty {
    display: none;
  }

  .content {
    background-color: rgba(255, 255, 255, 0.9);
  }
}
